

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.card{
  -webkit-box-shadow: 0px 1px 25px 11px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 1px 25px 11px rgba(0,0,0,0.34);
  box-shadow: 0px 1px 25px 11px rgba(0,0,0,0.34);
  width: 500px;
  margin: auto;
  border: 2px solid #0493f3;
}

.centrado{
  text-align: center;
}

.moverizq{
  margin-left: 5px;
}

.moverizq2{
  margin-left: 115px;
}

#logo{
margin-left: 25%;
}
