@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(236, 234, 234);
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
  display: inline;
  transition-duration: 0.4s;
  background-color: #0291f7;
  border: 2px solid #0291f7;
  color: white;
  padding: 0px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 30px;
  border-radius: 15px 15px 15px 15px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
}

nav ul li:hover{
  background-color: #0b5a93;
  color: rgb(0, 0, 0);
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: #fff;
    display: inline-block;
}

#logo{
  float: left;
  background: rgb(236, 234, 234);
}

section{
    border: transparent;
    padding: 10px;
}

#banner{
    padding: 0;
    margin: auto;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    background-image: url("../img/banner4lowres.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
  background: #0b5a93;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: white;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
}

#PropHeader{
  background: #0493f3;
}


#PropHeader span{
    display: inline;
    margin-left: 47%;
    width: 30%;
    color: white;
    font-size: large;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
}

.propiedades {
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
  }
  
  .propiedad {
    flex-basis: 70%; /* Adjust this to control the size of the cards */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .propiedad:hover {
    transform: translateY(-5px);
  }
  
  .propiedad-ventana {
    text-decoration: none;
    color: inherit;
  }
  
  .propiedad img {
    height: 300px;
    display: block;
  }
  
  .propiedad-info {
    padding: 15px;
  }
  
  .propiedad-info h3 {
    margin-top: 0;
    color: #333;
  }
  
  .propiedad-info p {
    margin: 5px 0;
    color: #666;
  }

  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
